<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<!--    xsi:noNamespaceSchemaLocation="file:///Users//goodwines//Library//Caches//JetBrains//PhpStorm2020.1//extResources//e8546028_phpunit.xsd"-->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    colors="true"
    executionOrder="random"
>
  <coverage>
    <include>
      <directory>src</directory>
    </include>
  </coverage>

  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
